{% extends 'homepg/Base.html' %}
{% load static %}
{% block content %}

<br><br>
<div class="container">
  <div class="row">
     {% for admission in all_admission %}
       <div class="col-md-5 mx-auto">
             <div class="adm_word">
                   {{ admission.admission_word|safe }}
             </div>
       </div>
       <div class="col-md-4 mx-auto">
          <div class="resume">
                  <h5>Hostel Admission</h5>
                   <a class="adm_pdf" href="{{ admission.notice_pdf.url }}">{{ admission.notice_pdf }}</a>
                   <img class="img_adm" src="{{ admission.notice_photo.url }}">
          </div>
       </div>

     {% endfor %}

  </div>
 </div>
<br>
{% endblock %}